
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #ff8a65, #ffb74d);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  
  border-radius: 5px;
 
}

.form-container {
  width: 380px;
  background: linear-gradient(to bottom right, #ff8a65, #ffb74d);
  border: 2px solid #4158d0;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.error-message {
  color: red;
}

.field {
  margin-bottom: 20px;
}

.field input {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.field input[type="submit"] {
  height: 50px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: #4158d0;
  text-decoration: none;
}
